/* header start  */
.header li a {
    text-transform: capitalize;
    font-size: 14px;
    position: relative;
    letter-spacing: 2px;
  }
  .header li a:before {
    content: "";
    position: absolute;
    top: 100%;
    bottom: 100%;
    width: 0%;
    height: 7%;
    background: #ffff22;
    transition: all 0.3s linear;
   
  }
.header li a:hover{
    font-weight: 700;
}
  .header li a:hover:before {
    width: 85%;
  }
  /* header end  */