<header class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top"
      style="background-color: #e3f2fd; box-shadow: 2px 1px 20px #e3f2fd">
      <a class="navbar-brand" style="width: 20%" routerLink="/"><img src="../../assets/imgs/logo.png" alt="" /></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse d-flex flex-row-reverse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
              <a class="nav-link" routerLink="/loginpage" >JoinForFree <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['frontpage']" [skipLocationChange]="true" >Advertise</a>
            </li>

            <li class="nav-item">
              <a class="nav-link"  data-toggle="modal" data-target="#exampleModalCenter">LogIn</a>
            </li>
          </ul>
        </form>
      </div>
    </nav>
  </header>

  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Login</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-4">
              <img src="../../assets/imgs/sobji.jpg" alt="Avatar" style="width: 100%; height: 100%" />
            </div>
            <div class="col-md-8">
              <form id="login">
                <div class="field">
                  <input type="email" name="email" id="email" class="input_box" placeholder=" " required />
                  <label for="email" class="label_box">Email</label>
                </div>
                <div class="field">
                  <input type="password" name="password" id="password" class="input_box" placeholder=" " required />
                  <label for="password" class="label_box">Password</label>
                </div>
                <button type="submit" class="btn btn-dark ml-40">
                  Sign in
                </button>
                <div class="text-center">New Here?</div>
                <a href="createNew.html"><button type="button" class="btn btn-dark ml-36">
                    Create New
                  </button></a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- modal -->