<footer style="width: 98.9%;">

    <!-- <div > -->
    <div class="row" style="background-color: #f8f9fa">
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <ul style="list-style: square; margin-top: 2rem;color:#f8f9fa ">
          <li><a href="./tarms&condition.html" style=" color: #000 ; font-weight: 600;">Terms & Condition</a></li>
          <li><a href="./tarms&condition.html" style=" color: #000 ; font-weight: 600">Privacy Policy</a></li>
          <li><a href="./contactus.html" style=" color: #000 ; font-weight: 600">Contact Us</a></li>
          <li><a href="./aboutUs" style=" color: #000 ; font-weight: 600">About US</a></li>
        </ul>
      </div>
      <div class="col-md-5">
        <div class="text-right " style=" color: #000 ;font-size: 48px;font-family: calibri ;font-weight: 600"> <strong>
            Lookfr.com</strong></div>
        <div class="text-right"
          style=" color: #000 ;font-size: 14px;font-family: calibri ;font-weight: 600 ; margin-top: 15px;">Finding
          Professioals is easy</div>
        <div class="text-right"
          style=" color: #000 ;font-size: 24px;font-family: calibri ;font-weight: 600 ; margin-top: 35px;"><i
            class="fa fa-map-marker"></i> India</div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="centerdiv">
          <a href="https://en-gb.facebook.com/login/" target="_blank">
            <i class="fa fa-2x fa-facebook"></i>
          </a>
          <a href="" target="_blank">
            <i class="fa fa-2x fa-instagram"></i>
          </a>
          <a href="" target="_blank">
            <i class="fa fa-2x fa-twitter"></i>
          </a>
          <a href="" target="_blank">
            <i class="fa fa-2x fa-youtube"></i>
          </a>
        </div>
      </div>
      <div class="col-md-2">
          <a (click)="onScrool()" class="back-to-top" href="javascript:void(0);">
          <i class="fa fa-arrow-up"></i>
          </a>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-1"></div>
      <div class="col-md-11">
        <span style=" color: #000 ;font-size: 14px;font-family: calibri ;font-weight: 600 ; margin-left: 20px;"> 2020
          Copyrght by Lookfr India Inc.</span>
      </div>

    </div>
    <!-- </div> -->
  </footer>
