/* social media icons & back to top */
.centerdiv {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .centerdiv a {
    height: 90px;
    width: 90px;
    background-color: #cbe3d5;
    margin: 30px;
    text-align: center;
    border-radius: 50px;
    box-shadow: 1px 4px 10px 5px #dcdde1;
    line-height: 100px;
    position: relative;
    overflow: hidden;
  }
  .fa-instagram  {
    color: #e84393;
  }
  .fa-youtube{
    color: 	#FF0000;
  }
  .fa-twitter {
    color: #0097e6;
  }
  .back-to-top {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #27ae60;
    bottom: 40px;
    right: 50px;
    border-radius: 50%;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: #ffffff;
  }
  .centerdiv a i {
    transition: all 0.3s linear;
  }
  .centerdiv a:hover .fa {
    transform: scale(1.4);
    color: #fff;
  }
  .centerdiv a::before {
    content: "";
    width: 120px;
    height: 120px;
    position: absolute;
    top: 90%;
    left: -50%;
    background-color: chocolate;
    transform: rotate(60deg);
  }
  .centerdiv a:hover::before {
    animation: socialicons 0.8s 1;
    animation-fill-mode: forwards;
  }
  @keyframes socialicons {
    0% {
      top: 90%;
      left: -50%;
    }
    50% {
      top: -70%;
      left: -10%;
    }
    100% {
      top: -10%;
      left: -10%;
    }
  }
  /* social media icons & back to top */
  