.bannar {
    background-image: linear-gradient(rgba(42, 41, 41, 0.5), 90%, #0f0e13),
      url("../../assets/imgs/profBannar.jpg");
    height: 60vh;
    width: 100%;
    background-size: cover;
  }

  .banner-txt {
    transform: translate(0, 100px);
    color: #fff;
    margin-left: 25px;
  }

  .bodycontainer {
    width: 100%;
    height: 100vh;
    transform: translate(0, -150px);
    contain: "";
    background-color: #f4e9e9;
  }

  .marg-5 {
    padding: 50px 0 0 50px;
  }

  .pt-50 {
    padding-top: 50px;
  }


  .visson-full-img{
background-image: linear-gradient(rgba(42, 41, 41, 0.5), 90%, #ff6e40),
  url("../../assets/imgs/ccsuport.jpg");
width: 100%;
height: 70vh;
float: left;
background-size: cover;
background-position: center;
}

.visson {
padding: 10px 0 0 40px;
position: absolute;
text-align:left;
color:#fff;
}
.visson-img {
background-image: linear-gradient(rgba(42, 41, 41, 0.5), 90%, #ff6e40),
  url("../../assets/imgs/services.jpg");
width: 100%;
height: 30vh;
float: right;
background-size: cover;
background-position: center;
}
