<section>
    <div class="bannar">
      <div class="banner-txt typewriter">
        <h1>Welcome To Luffr</h1>
        <h5>Finding Professioals is Easy</h5>
      </div>
    </div>
    <div class="container bodycontainer">
      <h3 class="marg-5">Choose your professionals</h3>

      <div class="row pt-50">
        <div class="col-md-4">
          <div class="text-right">
            <a href="javascript:void(0);" id="modalActivate" type="button"  (click)="opendialog()" data-toggle="modal" data-target="#exampleModalPreview">
                <img src="../../assets/imgs/icons/professional/doctor.png" alt="doctor" style="width: 30%" />
                <h5 style="padding-right: 25px">doctor</h5>             
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="text-center">
            <a href="" id="modalActivate" type="button"  data-toggle="modal" data-target="#electricians">
              <img src="../../assets/imgs/icons/professional/electrician (1).png" alt="doctor" style="width: 30%" />
              <h5>Electrician</h5>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="text-left">
            <a href="">
              <img src="../../assets/imgs/icons/professional/plumber (1).png" alt="plumber"
                style="width: 30%; margin-left: 15px" />
              <h5 style="padding-left: 30px">plumber</h5>
            </a>
          </div>
        </div>
      </div>

      <div class="row pt-50">
        <div class="col-md-3">
          <div class="text-center">
            <a href="">
              <img src="../../assets/imgs/icons/professional/worker (1).png" alt="construction" style="width: 40%" />
              <h5>Construction</h5>
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="text-center">
            <a href="">
              <img src="../../assets/imgs/icons/professional/nurse.png" alt="mechanic" style="width: 40%" />
              <h5>Mechanic</h5>
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="text-center">
            <a href="">
              <img src="../../assets/imgs/icons/professional/worker (1).png" alt="housepainter" style="width: 40%" />
              <h5>House Painter</h5>
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="text-center">
            <a href="">
              <img src="../../assets/imgs/icons/professional/nurse.png" alt="nurse" style="width: 40%" />
              <h5>Nurse</h5>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>