.visson-full-img-modal{
    background-image: linear-gradient(rgba(42, 41, 41, 0.5), 90%, #ff6e40),
      url("../../../assets/imgs/ccsuport.jpg");
    width: 100%;
    height: 70vh;
    float: left;
    background-size: cover;
    background-position: center;
    }
    
    .visson {
    padding: 10px 0 0 40px;
    position: absolute;
    text-align:left;
    color:#fff;
    }
    .visson-img-modal {
    background-image: linear-gradient(rgba(42, 41, 41, 0.5), 90%, #ff6e40),
      url("../../../assets/imgs/services.jpg");
    width: 100%;
    height: 30vh;
    float: right;
    background-size: cover;
    background-position: center;
    }