<mat-dialog-content class="mat-typography " style="width:70rem">
 <!-- Full screen modal doctor -->
<!-- Modal -->

            <div class=" modal-header-full-width   modal-header text-center">
                <h3 class="modal-title w-100" id="exampleModalPreviewLabel">List of Doctors</h3>
                <button type="button" class="close " data-dismiss="modal" [mat-dialog-close]="true" aria-label="Close">
                    <span style="font-size: 1.em;" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-0">
              
                     <!-- modal bannar -->
                      <div class="visson-modal">
                        <h2>Find best Doctor </h2>
                        <h3>from your area</h3>
                      </div>
                      <div class="visson-img-modal"></div>
                      <!-- modal bannar -->
                      <!-- short  -->
                      <div class="row">
                        <div class="col-md-8">
                        
                      </div>
                        <div class="col-md-2">
                          <table>
                            <th>location</th>
                            <th>short</th>
                          </table>
                        </div>
                        <div class="col-md-2"></div>
                      </div>
                      <!-- short  -->
  
                      <!-- modal filter  -->
                      <div class="row">
                        <div class="col-md-2">
                          <select name="filter" id="fliter" class="ml-5">
                            <option value="filter">filter</option>
                            <option value="price">price</option>
                            <option value="reatings">reatings</option>
                            <option value="name">name</option>
                          </select>
                        </div>
                      </div>
                      <!-- modal lists -->
                      <div class="row">
                        
                        <div class="col-md-12">
                          <div class="card ">
                            <div class="card-body">
                              <a href="javascrip:void(0)" style="color: #0f0e13;text-decoration: none;">
                                <div class="row">
                                  <div class="col-md-4">
                                    <img
                                  src="../../../assets/imgs/icons/professional/doctor.png"
                                  style="height: 100px; width: 80px ; border: 1px solid#b9b3c4;border-radius: 40%;" 
                                  alt=""
                                />
                                
                                  </div>
                                  <div class="col-md-6">
                                    <div class="namedetails">
                                      <h4>Dr.Kalin Bhaiya</h4>
                                      <h6>MBBS</h6>
                                      <h6>Physician</h6>
                                    </div>
                                  </div>
                                  <div class="col-md-2">
                                    <span class="P-3">
                                    <strong> 4.5 <sup>*</sup></strong></span
                                  ></div>
                                </div>
                            </a>
                            </div>
                          </div>
                        </div>
                        
                      </div>
                      <!-- modal lists  -->
  
                
  
                <!-- <h1 class="section-heading text-center wow fadeIn my-5 pt-3"> Not for money, but for humanity</h1> -->
            </div>
            <!-- <div class="modal-footer-full-width  modal-footer">
                <button type="button" class="btn btn-danger btn-md btn-rounded" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn-md btn-rounded">Save changes</button>
            </div> -->

    <!-- Full screen modal doctor -->
</mat-dialog-content>
<mat-dialog-actions  align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
</mat-dialog-actions>
