<section>
    <div class="container-fluid  ">

      <div class="" id="accordion">
        <div class="card ">
          <div class="card-header p-0 text-center" id="headingOne"  style="background-color: #fff;">
            
            <button class="btn btn-link w-100" style="margin: -10px 0px -5px;" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <i class="fa fa-angle-down"></i>
            </button>
          </div>

          <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body fixed-section1">
              <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-4">
                  <div class="card ">
                    <div class="card-body">
                      <h5 class="card-title">Offers</h5>
                      <button class="card-button">View </button>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card ">
                    <div class="card-body">
                      <h5 class="card-title">Try Our Best Proffesionals</h5>
                      <button class="card-button">View</button>
                    </div>
                  </div>
                </div>
                <div class="col-md-2"></div>
              </div>
              
              </div>
          </div>
        </div>
      </div>



    </div>

   
</section>