<section>
    <div class="container-fluid fixed-section">
      <div class="d-flex justify-content-around">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="../../../assets/imgs/worker.png" alt="Avatar" style="width: 200px; height: 170px" />
            </div>
            <div class="flip-card-back">
              <a routerLink="/professioals">
                <h5 class="card-title" style="margin-top: 20%; color: #fff">
                  professioals
                </h5>
                <ol style="color: #fff">
                  <li>carpenters</li>
                  <li>electrician</li>
                </ol>
              </a>
            </div>
          </div>
        </div>
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="../../../assets/imgs/admin.png" alt="Avatar" style="width: 180px; height: 200px" />
            </div>
            <div class="flip-card-back">
              <a href="./Add.html">
                <h5 class="card-title" style="margin-top: 20%; color: #fff">
                  Repirs
                </h5>
                <ol style="color: #fff">
                  <li>T.V.</li>
                  <li>A.C.</li>
                </ol>
              </a>
            </div>
          </div>
        </div>
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="../../../assets/imgs/nurse.png" alt="Avatar" style="width: 200px; height: 200px" />
            </div>
            <div class="flip-card-back">
              <a href="./Add.html">
                <h5 class="card-title" style="margin-top: 20%; color: #fff">
                  Shops
                </h5>
                <ol style="color: #fff">
                  <li>Grocery</li>
                  <li>Medicine</li>
                </ol>
              </a>
            </div>
          </div>
        </div>
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="../../../assets/imgs/cardimg.png" alt="Avatar" style="width: 150px; height: 130px; margin-top: 10%" />
            </div>
            <div class="flip-card-back">
              <a href="./Add.html">
                <h5 class="card-title" style="margin-top: 20%; color: #fff">
                  View All..
                </h5>
                <p class="card-text" style="color: #fff">
                  View All Catagories
                </p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
