<section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <!-- <img src="./imgs/help.jpg" class="visson-left-img" alt=""> -->
          <div class="visson-left-img"></div>
        </div>
        <div class="col-md-6">
          <div class="visson">
            <h2>Lets share your opinion for our batter services</h2>
            <a class="acontact" href="./contactus.html">Support</a>
          </div>
        </div>
      </div>
    </div>
  </section>
