.visson-left-img {
    background-image: linear-gradient(rgba(42, 41, 41, 0.5), 90%, #ff6e40),
      url("../../../assets/imgs/help.jpg");
    width: 100%;
    height: 70vh;
    float: left;
    background-size: cover;
  }
  .visson {
    margin-top: 20%;
    text-align: center;
  }
  .acontact {
    color: #000000;
    font-weight: 500;
  }