<section>
    <div class="container-fluid">
      <div class="bannar">
        <div class="banner-txt typewriter">
          <h1 class="tw">Welcome To Luffr</h1>
          <h4 class="tw" style="margin-bottom: 50px">Finding Professioals is Easy</h4>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text" id="btnGroupAddon2">
                <i class="fa fa-search"></i>
              </div>
            </div>
            <input class="form-control py-2 border-right-0 border" type="search" placeholder="Search" />
          </div>
        </div>
      </div>
    </div>
  </section>
