/* bannar  */
.bannar {
    background-image: linear-gradient(rgba(42, 41, 41, 0.5), 90%, #f57f17),
      url("../../../assets/imgs/bannar.jpg");
    height: 80vh;
    width: 100%;
    background-size: cover;
  }
  .banner-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: #fff;
    font-weight: 600;
  }
  .banner-txt h5 {
    padding-left: 12%;
    color: #fff;
    font-weight: 600;
  }
  .bannar-form {
    background-color: #faf3f9;
    margin: 20%;
    border-radius: 2%;
  }
  /* bannar  */