.visson {
    margin-top: 20%;
    text-align: center;
  }
  .visson-img {
    background-image: linear-gradient(rgba(42, 41, 41, 0.5), 90%, #ff6e40),
      url("../../../assets/imgs/services.jpg");
    width: 100%;
    height: 60vh;
    float: right;
    background-size: cover;
  }
  .visson-full-img{
    background-image: linear-gradient(rgba(42, 41, 41, 0.5), 90%, #ff6e40),
      url("../../../assets/imgs/offer.jpg");
    width: 100%;
    height: 70vh;
    float: left;
    background-size: cover;
    background-position: center;
  }